html {

}

body {
  font-family: Georgia, serif;
  margin: 0;
}

.site {
  background-color: #fff;
  border: 1px solid red;
  width: 960px;
  min-height: 630px;
  margin: 20px auto 0;
}

.logo {
  padding: 5px;
}

.image {
  border: 3px solid purple;
  padding: 2px;
}

.flowerListItem {
  display: inline-block;
  margin: 0 10px;
  list-style-type: none;
}



.flowerInfo {
  list-style-type: none;
  text-align: left;
  margin-bottom: 5px;
}

#copy {
  text-align: center;
  color: red;
  font-size: 22px;
  padding: 5px;
  margin: 10px auto 0;
  width: 600px;
}

#allFlowers {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  width: 750px;
  background-color: #E0E0E0;
  border: 1px solid #CC6699;
}

.bgColorImage {
  background-color: #CEBDBD;
}